resources:
  jobs:
    {{.project_name}}_job:
        name: {{.project_name}}_hackathon_job
        tasks:
          - task_key: volume_monitor_task
            existing_cluster_id: "0704-124501-tsc2fxq"
            notebook_task:
                notebook_path: ../src/notebooks/hackathon.py
        continuous:
            pause_status: UNPAUSED